[submodule "module.node"]
	path = module.node
	url = https://github.com/CryptoKasm/kosmic-module-node.git
[submodule "module.home"]
	path = module.home
	url = https://github.com/CryptoKasm/kosmic-module-home.git
